body {
    background: black;
    display: flex;
    justify-content: center;
}
p {
    color: #EA7C23;
}
.center-div {
    margin-top: 30px;
    min-width: 20vw;
}
.login-title-div {
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-weight: bolder;
    font-size: 50px;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #EA7C23;
}
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Arial;
    color: #EA7C23;
    font-weight: bold;
}
input {
    border-color: #c35757;
    border-radius: 10px;
    border-style: solid;
    margin-bottom: 10px;
}
.user-info {
    width: 60%;
}
.sub-button {
    background-color: #EA7C23;
    color: white;
    font-family: Arial;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    transition: opacity 0.15s;
    cursor: pointer;
}
.sub-button:hover {
    opacity: 0.8;
}
.sub-button:active {
    opacity: 0.5;
}